<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/template/style.css">
	<title>{{ site.title }}</title>
</head>
<body>
	<header id="sidebar">
		<figure id="avatar">
			<a href="/">
				<div class="pulse animate">&nbsp;</div>
				<img class="logo" src="{{ site.avatar }}" alt="{{ site.title }}">
			</a>
		</figure>
			<h1><a href="/">{% if site.configs['title'] %}{{ site.configs['title'] }}{% else %}{{ site.title }}{% endif %}</a></h1>
		<p class="description">{{ site.description }}</p>
			<ul>
			{% if site.configs['twitter'] %}
			<li class="twitter"><a href="https://twitter.com/{{ site.configs['twitter'] }}">@{{ site.configs['twitter'] }}</a></li>
			{% endif %}
			{% if site.configs['weibo'] %}
			<li class="weibo"><a href="http://weibo.com/{{ site.configs['weibo'] }}">@{{ site.configs['weibo'] }}</a></li>
			{% endif %}
			{% if has('about.md') %}
				<li><a href="/about.md">About</a></li>
			{% endif %}
			{% if has('links.md') %}
				<li><a href="/links.md">Links</a></li>
			{% endif %}
			{% if site.configs['v2ex'] %}
			<li class="v2ex"><a href="http://www.v2ex.com/?r={{ site.configs['v2ex'] }}">V2EX</a></li>
			{% endif %}
			</ul>
		
	</header>
	<section id="post">
		<header id="banner"><span id="dtTime"></span> <span class="warning">beta</span></header>
		<article>
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
			<div class="meta"><span class="date">{{ post.date | date('%Y.%m.%d') }}</span></div>
			<div class="content">
				{{ post.content }}
			</div>
			
			{% set custom_comment=get_text_file('comment_js').raw_content %}
			{% if custom_comment %}
			{{ custom_comment }}
			{% endif %}

		</article>

		<div class="eof">- EOF -</div>

		<section id="footer">&copy; 2013 {{ site.title }} | Coded by <a href="http://sync.sh" target="_blank">YCF</a> | Inspired by <a href="https://svbtle.com/" target="_blank">Svbtle</a> | Thanks <a href="http://farbox.com" target="_blank">FarBox</a> | <a href="http://sync.sh/template" target="_blank">Clone Theme</a></section>
	</section>
<script type="text/javascript" src="/template/scripts.js"></script>
</body>
</html>